In [1]:
import pandas as pd
import datetime
import numpy as np
import os
from pathlib import Path

In [2]:
#Create a DataFrame for the 2187-tripdata data. 

file_path = Path("2187-tripdata.csv")

In [3]:
df = pd.read_csv(file_path)
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,500,2018-07-01 00:33:51.2640,2018-07-01 00:42:12.0280,72,W 52 St & 11 Ave,40.767272,-73.993929,3236,W 42 St & Dyer Ave,40.758985,-73.993800,16583,Subscriber,1981,1
1,455,2018-07-01 02:06:54.0270,2018-07-01 02:14:29.0900,72,W 52 St & 11 Ave,40.767272,-73.993929,529,W 42 St & 8 Ave,40.757570,-73.990985,31481,Subscriber,1988,1
2,1080,2018-07-01 02:09:16.4640,2018-07-01 02:27:17.0290,72,W 52 St & 11 Ave,40.767272,-73.993929,453,W 22 St & 8 Ave,40.744751,-73.999154,25004,Subscriber,1982,2
3,632,2018-07-01 02:55:04.5870,2018-07-01 03:05:36.7910,72,W 52 St & 11 Ave,40.767272,-73.993929,465,Broadway & W 41 St,40.755136,-73.986580,25867,Subscriber,1986,1
4,1676,2018-07-01 03:24:27.4350,2018-07-01 03:52:23.7760,72,W 52 St & 11 Ave,40.767272,-73.993929,3425,2 Ave & E 104 St,40.789211,-73.943708,31351,Subscriber,1992,1

In [4]:
citi_bike_df = pd.read_csv("2187-tripdata.csv")

In [5]:
#Check the datatypes of  columns. 
citi_bike_df.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [6]:
#Convert the 'tripduration' column to datetime datatype.
#Add the additional column to the data frame
citi_bike_df['started_at'] = pd.to_datetime(citi_bike_df['tripduration'], unit='m')

In [7]:
#Check the datatypes of your columns. 
citi_bike_df.dtypes

tripduration                        int64
starttime                          object
stoptime                           object
start station id                    int64
start station name                 object
start station latitude            float64
start station longitude           float64
end station id                      int64
end station name                   object
end station latitude              float64
end station longitude             float64
bikeid                              int64
usertype                           object
birth year                          int64
gender                              int64
started_at                 datetime64[ns]
dtype: object

In [8]:
#Export the Dataframe as a CSV file without the unneeded index. For Tableau  
citi_bike_df.to_csv('nyc_citi_bike_2207datetime.csv', index=False)